<div>
  <h1>{{ isEditing ? 'Editar canción' : 'Crear canción' }}</h1>
  <div>
    <form #trackForm="ngForm" class="form-admin" (submit)="onAddTrack($event, trackForm)">
      <div class="form-row">
        <label for="name">Cancion</label>
        <input type="text" name="name" [(ngModel)]="newTrack.name" required>
      </div>
      <div class="form-row">
        <label for="album">Album</label>
        <input type="text" name="album" [(ngModel)]="newTrack.album" required>
      </div>
      <div class="form-row">
        <label for="cover">Cover</label>
        <input type="text" name="cover" [(ngModel)]="newTrack.cover" required>
        <img *ngIf="newTrack.cover" [src]="newTrack.cover" alt="{{ newTrack.name }}" width="40" height="40">
      </div>
      <div class="form-row">
        <label for="artist">Artista</label>
        <input type="text" name="artist" [(ngModel)]="newTrack.artist" required>
      </div>
      <div class="form-row">
        <label for="uid">Id</label>
        <input type="text" name="uid" [(ngModel)]="newTrack.uid" required>
      </div>
      <div class="form-buttons">
        <button class="admin-button" type="submit">{{ isEditing ? 'Guardar Cambios' : 'Agregar Canción' }}</button>
        <button class="admin-button" type="button" *ngIf="isEditing" (click)="onCancelEdit()">Atras</button>
      </div>
    </form>
  </div>
</div>

<div class="play-list-body">
  <ul class="play-list-table-header">
    <li (click)="changeSort('name')">Nombre ❤</li>
    <li (click)="changeSort('album')">álbum 🆗</li>
    <li>Editar 🖊️</li>
    <li>Eliminar ❌</li>
  </ul>
  <ul class="play-list-rows" *ngFor="let track of tracks | orderList:optionSort.property:optionSort.order">
    <li class="track-name">
      <img class="cover-track" [src]="track.cover" [alt]="track.name" width="40" height="40">
      <div class="cover-info">
        <div class="name-track">{{ track.name }}</div>
        <div class="name-track-details">{{ track.artist }}</div>
      </div>
    </li>
    <li class="track-name-opacity">{{ track.album }}</li>
    <li class="track-name-opacity">
      <button (click)="onEditTrack(track)">Editar</button>
    </li>
    <li class="track-name-opacity">
      <button (click)="onDeleteTrack(track.uid.toString())">Eliminar</button>
    </li>
  </ul>
</div>
